<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-center">
        <a class="navbar-brand text-white" href="#">YelpCamp</a>
        <div class="d-flex justify-content-center">
            <a class="nav-link text-white" href="#">Home</a>
            <a class="nav-link text-white" href="/campgrounds">CampGrounds</a>
            <a class="nav-link text-white" href="/campgrounds/new">New CampGround</a>
        </div>
        <p class="mt-2 mb-0">&copy; 2025 YelpCamp. All Rights Reserved.</p>
    </div>
</footer>
